body{
	background-color: #1D1A16 !important;
}

header{
	background-color: #EEEEEE;
}

header h1{
	display: inline-block;
}

.downloadTab{
	margin-left: 300px;
}

div.content{
	padding-top: 50px;
}

div.content h2{
	color: white;
	display: block;
	padding: 50px 30px 0 0;
	margin: 80px 0 0 60px;
} 
/*
.logo{
	background-image: url(C:/eli/programovani/auHack/page/img/logo.png);
	display: inline-block;
	width: 410px;
	height: 200px;
}*/

.logo2{
	background-image: url(C:/eli/programovani/auHack/page/img/logoBig.png);
	display: inline-block;
	width: 600px;
	height: 600px;
	float: left;
}

div.content{
	background-color: #1D1A16;
}

div.content a.button{
	display: inline-block;
    height: 50px;
    font-size: 18pt;
}


div.content a.button:nth-child(2){
	margin-left: 30px;
}

div.buttons{
	margin-top: 50px;
}